<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <style>
        body {
            background: rgb(228, 208, 200);
        }
    </style>
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1 class="my-2"> Product being modified: "<%= data[0].product_name %>"</h1>
        <div class="main">
            <div class="main-center">
                <form action="/admin/modifyProd" method="POST">

                    <div class="form-group">
                        <label for="name" class="text-white bg-dark">Product ID</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="prodID" id="prodID"
                                value="<%=data[0].product_ID%>" readonly></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-white bg-dark">Product Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="name"
                                value="<%=data[0].product_name%>" placeholder="Enter the product name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="prodDesc" class="text-white bg-dark">Product Description</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="prodDesc" value="<%= data[0].product_desc %>"
                                placeholder="Enter product description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="text-white bg-dark">Price</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="price" value="<%= data[0].buy_price %>"
                                placeholder="Enter product's price" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vendor" class="text-white bg-dark">Product's vendor</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="vendor" value="<%=data[0].vendor%>"
                                placeholder="Enter product's vendor" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="quantity" class="text-white bg-dark">Quantity</label>
                        <div class="input-group">
                            <input type="Number" class="form-control" name="quantity"
                                value="<%=data[0].quantity_inStock%>" placeholder="Enter product's quantity" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="img" class="text-white bg-dark">Product's image link</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="img" value="<%=data[0].imgLink%>"
                                placeholder="Enter product's image link" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-light">SUBMIT CHANGE</button>

                </form>
            </div>
            <!--main-center"-->
        </div>
        <!--main-->
    </div>
    <!--container-->
</body>

</html>