<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://www.eyecon.ro/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container my-2">
        <div class="row col-md-12 col-md-offset-2 custyle">
            <h3>Low On Stock Product (less than 15) </h3>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Proudct Name</th>
                        <th>Buy Price</th>
                        <th>Vendor</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <% for(var i=0; i<stock.length; i++){ %>
                    <tr>
                        <td> <%= stock[i].product_id %> </td>
                        <td> <%= stock[i].product_name %> </td>
                        <td> <%= stock[i].buy_price %> </td>
                        <td> <%= stock[i].vendor %> </td>
                        <td> <%= stock[i].quantity_inStock %> </td>

                    </tr>
                <% } %>

            </table>
        </div>
        <h4 class="my-2">Average Product Cost: <a class="text-success"><%= average.toFixed(2) %></a> </h4>
        <h4 class="my-4 mb-2">Cheapest Product: <a class="text-success"><%= minimumProd %></a> at the price of <a class="text-success"> <%= minimum %> </a></h4>
        <h4 class="my-4 mb-2">Most Expensive Product: <a class="text-success"><%= maximumProd %></a> at the price of <a class="text-success"><%= maximum %></a> </h4>

        <tfoot>
            <tr>
                <td><a href="report" class="btn btn-warning"><i class="fa fa-angle-left"></i> Go back to report</a></td>
            </tr>
        </tfoot>
    </div>
</body>

</html>