<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .bg {
            animation: slide 3s ease-in-out infinite alternate;
            background-image: linear-gradient(-60deg, rgb(226, 31, 41) 50%, rgb(17, 17, 17) 50%);
            bottom: 0;
            left: -50%;
            opacity: .5;
            position: fixed;
            right: -50%;
            top: 0;
            z-index: -1;
        }

        .bg2 {
            animation-direction: alternate-reverse;
            animation-duration: 4s;
        }

        .bg3 {
            animation-duration: 5s;
        }

        .content {
            background-color: rgba(255, 255, 255, .8);
            border-radius: .25em;
            box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
            box-sizing: border-box;
            left: 50%;
            padding: 10vmin;
            position: fixed;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        h1 {
            font-family: monospace;
        }

        @keyframes slide {
            0% {
                transform: translateX(-25%);
            }

            100% {
                transform: translateX(25%);
            }
        }
    </style>
    <title>Store Database</title>
</head>

<body>

    <%- include('../partials/header') %>
    <% var m = Math.ceil(data.length/3); %>
    <% var loopCounter = 0; %>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container">
        <% for(var i=0; i < m; i++){ %>
        <div class="card-deck mx-auto my-3">
            <% for(var j=0; j<3; j++){ %>
            <% if(loopCounter === data.length){ %>
                <div class="card border-0"></div>
            <% }  else{ %>
            <div class="card">
                <img class="card-img-thumbnail" src="<%= data[loopCounter].imgLink %>" height=200 width=200>
                <div class="card-body">
                    <h5 class="card-title"> <%= data[loopCounter].product_name %> </h5>
                    <p class="card-text"> <%= data[loopCounter].product_desc %> </p>
                    <p class="card-text"><small class="text-muted"></small></p>

                    <div class="d-flex">
                        <div class="p-2"><a href="/product/cart/<%= data[loopCounter].product_ID %>" <button
                                class="btn btn-info mr-2 my-2 my-sm-0" type="Order">Add to cart</button></a></div>
                        <div class="ml-auto p-2">$<%= data[loopCounter].buy_price %> </div>
                    </div>

                </div>
            </div>
            <% loopCounter += 1; %>
            <% } %>
            <% } %>
        </div>
        <% } %>
    </div>



</body>

</html>