<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background: rgb(228, 208, 200);
        }
    </style>
    <title>Orders</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Payment ID</th>
                    <th>Order Date</th>
                    <th>Expected Delivery Date</th>
                    <th>Order Status</th>
                    <th>Order Total</th>
                    <th></th>
                    <th style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>

                <% for(var i=0;i<data.length;i++){ %>
                <tr>
                    <% var status = "Delivered";
                     if(data[i].order_status === 0){
                        status = "In Progress";
                    } %>
                    <td><%=data[i].transaction_ID%></td>
                    <td><%=data[i].FK_payment_ID%></td>
                    <td><%=data[i].order_date%></td>
                    <td><%=data[i].expected_Delivery%></td>
                    <td><%=status%></td>
                    <td><%= orderPrice[i] %></td>
                </tr>

                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/customer/profile/<%= memID %>" class="btn btn-warning"><i
                                class="fa fa-angle-left"></i> Back to
                            Profile Page</a>
                    </td>
                    <td colspan="2" class="hidden-xs"></td>
                </tr>
            </tfoot>
        </table>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>